# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Django migrations
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite

# Flask instance folder
instance/

# Scrapy
.scrapy/

# Sphinx documentation
docs/_build/

# PyInstaller
*.spec

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
*.cover

# Testing
.tox/
.nox/

# Virtualenv
*.venv/
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.swd
*.bak

# Logs and databases
*.log
*.db

# Temporary files
*.tmp
*.temp
*.out
